# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry
#Tudo que estiver dentro de requirements vai ser instalado no ambiente do Azure Functions

azure-functions
pyodbc